@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize.min.css";
@import url("//hello.myfonts.net/count/2f15c2");
/* 
--------------------

GLOBAL

--------------------
*/
// allows responsive media queries
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}
// Omega Reset - bourbon/neat grid
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
@font-face {font-family: 'IngridMono-Bold';src: url('../webfonts/2F15C2_0_0.eot');src: url('../webfonts/2F15C2_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2F15C2_0_0.woff2') format('woff2'),url('../webfonts/2F15C2_0_0.woff') format('woff'),url('../webfonts/2F15C2_0_0.ttf') format('truetype');}
@font-face {font-family: 'IngridMono-Book';src: url('../webfonts/2F15C2_1_0.eot');src: url('../webfonts/2F15C2_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2F15C2_1_0.woff2') format('woff2'),url('../webfonts/2F15C2_1_0.woff') format('woff'),url('../webfonts/2F15C2_1_0.ttf') format('truetype');}
@font-face {font-family: 'IngridMono-SemiBold';src: url('../webfonts/2F15C2_2_0.eot');src: url('../webfonts/2F15C2_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2F15C2_2_0.woff2') format('woff2'),url('../webfonts/2F15C2_2_0.woff') format('woff'),url('../webfonts/2F15C2_2_0.ttf') format('truetype');}
@font-face {font-family: 'sangbleu_serifhairline';src: url('../webfonts/sangbleuserif-hairline-webfont.eot');src: url('../webfonts/sangbleuserif-hairline-webfont.eot?#iefix') format('embedded-opentype'),url('../webfonts/sangbleuserif-hairline-webfont.woff2') format('woff2'),url('../webfonts/sangbleuserif-hairline-webfont.woff') format('woff'),url('../webfonts/sangbleuserif-hairline-webfont.ttf') format('truetype'),url('../webfonts/sangbleuserif-hairline-webfont.svg#sangbleu_serifhairline') format('svg');}
@font-face {font-family: 'sangbleu_serifhairline_italic';src: url('../webfonts/sangbleuserif-hairlineitalic-webfont.eot');src: url('../webfonts/sangbleuserif-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),url('../webfonts/sangbleuserif-hairlineitalic-webfont.woff2') format('woff2'),url('../webfonts/sangbleuserif-hairlineitalic-webfont.woff') format('woff'),url('../webfonts/sangbleuserif-hairlineitalic-webfont.ttf') format('truetype'),url('../webfonts/sangbleuserif-hairlineitalic-webfont.svg#sangbleu_serifhairline_italic') format('svg');}
@font-face {font-family: 'sangbleu_seriflight';src: url('../webfonts/sangbleuserif-light-webfont.eot');src: url('../webfonts/sangbleuserif-light-webfont.eot?#iefix') format('embedded-opentype'),url('../webfonts/sangbleuserif-light-webfont.woff2') format('woff2'),url('../webfonts/sangbleuserif-light-webfont.woff') format('woff'),url('../webfonts/sangbleuserif-light-webfont.ttf') format('truetype'),url('../webfonts/sangbleuserif-light-webfont.svg#sangbleu_seriflight') format('svg');}
@font-face {font-family: 'sangbleu_seriflight_italic';src: url('../webfonts/sangbleuserif-lightitalic-webfont.eot');src: url('../webfonts/sangbleuserif-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),url('../webfonts/sangbleuserif-lightitalic-webfont.woff2') format('woff2'),url('../webfonts/sangbleuserif-lightitalic-webfont.woff') format('woff'),url('../webfonts/sangbleuserif-lightitalic-webfont.ttf') format('truetype'),url('../webfonts/sangbleuserif-lightitalic-webfont.svg#sangbleu_seriflight_italic') format('svg');}
@mixin font1-book {
  font-family: 'IngridMono-Book', courier, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font1-semibold {
  font-family: 'IngridMono-SemiBold', courier, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font1-bold {
  font-family: 'IngridMono-Bold', courier, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font2-hairline {
  font-family: 'sangbleu_serifhairline', serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font2-hairline-italic {
  font-family: 'sangbleu_serifhairline_italic', serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font2 {
  font-family: 'sangbleu_seriflight', serif;
  font-weight: normal;
  font-style: normal;
}
@mixin font2-italic {
  font-family: 'sangbleu_seriflight_italic', serif;
  font-weight: normal;
  font-style: normal;
}

$green-dark: #425211;
$green-light: #cdd3c5;
body {
  @include font1-book;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  &:hover,
  &:visited {
    color: #333;
  }
}
h1,h2,h3,h4,h5,h6 {
  @include font2;
  margin: 0;
  line-height: 1.2;
}
h1 {
  font-size: 3.5em;
}
h3 {
  font-size: 2em;
  em {
    @include font2-italic;
  }
  .small {
    display: block;
    margin-bottom: 2%;
    font-size: .4em;
    color: #999;
  }
  .medium {
    display: block;
    font-size: .6em;
    color: #555;
  }
}
p {
  font-size: .8em;
  color: #666;
  line-height: 1.6;
}
em,
strong {
  font-weight: normal;
  font-style: normal;
}
strong {
  @include font1-semibold;
}
input:focus {
  outline: none;
}
.btn,
input[type=submit] {
  @include font1-semibold;
  display: block;
  margin-top: 5%;
  border: 1px solid $green-dark;
  padding: 9px 20px 7px;
  background: none;
  font-size: .8em;
  &:hover {
    background: $green-dark;
    color: #fff;
  }
}
.flash {
  @include font1-bold;
  .success {
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.3em;
  }
} 
/*
--------------------

HEADER

--------------------
*/ 
header {
  @include outer-container;
  margin-top: 3%;
  .logo {
    @include span-columns(3);
    img {
      width: 100%;
    }
  }
  nav {
    @include span-columns(9);
    text-align: right;
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 3%;
        list-style-type: none;
        border: 2px dashed #fff;
        &:hover {
          border-radius: 50%;
          border-color: $green-dark;
        }
        a {
          color: #333;
        }
      }
      .shop-link {
        &:hover {
          margin-bottom: 235px;
        }
        /*&:hover .shop-nav {
          display: block;
        }*/
        .shop-nav {
          display: none;
          padding: 0;
          position: absolute;
          top: 150px;
          left: 0;
          width: 100%;
          text-align: left;
          border-top: 1px dotted #333;
          border-bottom: 1px dotted #333;
          li {
            padding: 2%;
            border: none;
            border-right: 1px dotted #333;
            &:hover {
              border: none;
            }
            &:last-of-type {
              border-right: none;
            }
            a {
              color: #999;
              &:hover {
                border: #fff;
                border-radius: 0;
              }
            }
            h3 {
              margin-bottom: 7%;
            }
          }
        }
      }
    }
  }  
  #mini-cart {
    sup {
      font-size: .7em;
    }
  }
}
/* 
--------------------

HOME

--------------------
*/
.home {
  margin-top: 3%;
  .callout-left {
    position: relative;
    display: inline-block;
    width: 65%;
    padding: 23%;
    background: url("../images/green-background.jpg");
    .about-callout {
      display: inline-block;
      position: absolute;
      right: 20%;
      bottom: 40%;
      width: 150px;
      padding: 4% 0;
      border: 2px solid $green-dark;
      text-align: center;
      &:hover {
        border-color: $green-light;
      }
    }
    .made-in {
      position: absolute;
      left: 10%;
      bottom: 20%;
      width: 120px;
    }
  }
  .callout-right {
    position: relative;
    display: inline-block;
    width: 35%;
    padding: 22% 0;
    background: url("../images/white-background.jpg") no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .product-otw {
      display: inline-block;
      position: absolute;
      right: 25%;
      bottom: 35%;
      width: 250px;
      padding: 4%;
      border: 2px solid $green-dark;
      &:hover {
        border-color: $green-light;
      }
    }
  }
  .who-we-are {
    margin-top: -5px;
    padding: 3.5% 0;
    background: url("../images/green-map.jpg");
    .who-we-are-wrapper {
      @include outer-container;
      .who,
      .what,
      .where {
        @include span-columns(4);
        text-align: center;
        h3 {
          @include font2-hairline;
          color: #fff;
        }
        p {
          padding: 0 7%;
          color: #ccc;
        }
      }
    }
  }
  .pinterest-layout {
    @include outer-container;
    padding-top: 2%;
    img {
      width: 100%;
    }
    h3 {
      text-align: center;
      span {
        display: block;
        margin-bottom: 1%;
        font-style: italic;
        font-size: .4em;
        color: #999;
      }
    }
    p {
      padding: 0 5%;
      margin: 5% 0 0;
      text-align: center;
    }
    .pinterest-layout-1 {
      @include span-columns(6);
      .pinterest-layout-1-1 {
        @include span-columns(6);
      }
      .pinterest-layout-1-2 {
        @include span-columns(6);
        @include omega();
        margin-bottom: 1.5%;
      }
      .pinterest-layout-1-3 {
        @include span-columns(12);
      }
    }
    .pinterest-layout-2 {
      @include span-columns(6);
      .pinterest-layout-2-1 {
        @include span-columns(12);
        margin-bottom: 1.5%;
      }
      .pinterest-layout-2-2 {
        @include span-columns(6);
      }
      .pinterest-layout-2-3 {
        @include span-columns(6);
        @include omega();
        margin-bottom: 1.5%;
      }
      .pinterest-layout-2-4 {
        @include span-columns(12);
      }
    }
  }
}
/* 
--------------------

LOGIN / REGISTER

--------------------
*/
.login-register {
  @include outer-container;
  margin-top: 5%;
  margin-bottom: 5%;
  form {
    width: 70%;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 7%;
    text-align: center;
  }
  .login {
    @include span-columns(6);
    padding: 1% 0 1% 0;
  }
  .register {
    @include span-columns(6);
    padding: 1% 0 1% 3%;
    border-left: 1px dotted #666;
  }
  label {
    display: block;
    margin-bottom: 1%;
    width: 100%;
    font-size: .8em;
    color: #666;
    text-align: left;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 98%;
    height: 40px;
    margin-bottom: 5%;
    border: 2px solid #eee;
    padding: 10px;
  }
  .btn {
    display: inline-block;
    margin: 0;
  }
  a {
    font-size: .8em;
    text-decoration: underline;
    color: #666;
  }
  p {
    margin-top: 5%;
    a {
      font-size: 1em;
    }
  }
}
.new-password {
  @include outer-container;
  margin-top: 5%;
  margin-bottom: 5%;
  .passwordRestoreRequestForm {
    @include span-columns(12);
  }
  form {
    width: 70%;
    margin: 0 auto;
  }
  label {
    display: block;
    margin: 3% 0 1%;
    color: #666;
    font-size: .8em;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border: 2px solid #eee;
    padding: 10px;
  }
  input[type=submit] {
    margin-top: 0;
    font-size: 1em;
  }
}
/* 
--------------------

TERMS

--------------------
*/
.terms {
  @include outer-container;
  margin-top: 5%;
  .terms-wrapper {
    @include span-columns(8);
    @include shift(2);
    p {
      font-size: 1em;
    }
  }
}
/* 
--------------------

FOOTER

--------------------
*/
footer {
  position: relative;
  margin-top: 3%;
  .prefooter-wrapper {
    padding: 4% 0;
    background: url("../images/footer-background.jpg");
    .prefooter-content {
      @include outer-container;
      text-align: center;
      .prefooter-links1 {
        @include shift(1.5);
      }
      .prefooter-links1,
      .prefooter-links2,
      .prefooter-links3 {
        @include span-columns(3);
        margin-top: 4%;
        img {
          width: 80px;
        }
        h3 {
          margin: 3% 0 4%;
        }
        p {
          margin: 0;
        }
      }
      p {
        padding: 0 10%;
        margin-bottom: 0;
      }
      .tbp-logo {
        display: none;
        @include respond-to(768) {
          display: block;
          position: absolute;
          right: 100px;
          top: 60px;
          width: 50px;
        }
      }
    }
  }
  .footer-wrapper {
    padding: 2% 0;
    background: #F5F6F3;
    .footer-content {
      @include outer-container;
      .footer-links-1,
      .footer-links-2,
      .footer-philosophy,
      .footer-newsletter {
        @include span-columns(12);
        padding: 5%;
        @include respond-to(768) {
          @include span-columns(3);
          padding: 1% 0 0 2%;
          min-height: 250px;
          border-left: 1px solid #E0E0E0;
        }
        strong {
          font-size: .8em;
        }
        ul {
          padding: 0;
          margin-top: 7%;
          li {
            margin-bottom: 3%;
            list-style-type: none;
            a {
              color: #999;
              text-decoration: none;
              font-size: .8em;
            }
          }
        }
        p {
          margin-top: 7%;
        }
      }
      .footer-newsletter {
        @include omega();
        padding-right: 2%;
        text-align: center;
        border-right: 1px solid #E0E0E0;
        span {
          display: block;
          font-size: 2em;
        }
        input[type="text"] {
          margin-top: 1%;
          border: none;
          border-bottom: 2px solid $green-dark;
          background: none;
          text-align: center;
        }
        label {
          display: block;
          margin-top: 15%;
          color: #666;
          font-size: .8em;
        }
        .btn {
          margin: 15% auto 0;
        }
      }
      .social-icons {
        @include span-columns(12);
        margin-top: 3%;
        text-align: center;
        a {
          display: inline-block;
          width: 30px;
          margin: 0 .5%;
          opacity: .3;
          &:hover {
            opacity: 1;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .copyright {
    @include outer-container;
    p {
      @include span-columns(12);
      margin-bottom: 4%;
      text-align: center;
      strong {
        color: #333;
      }
    }
  }
  .made-in {
    display: none;
    @include respond-to(768) {
      display: block;
      position: absolute;
      bottom: 47px;
      left: 50px;
      width: 120px;
    }
  }
}