@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize.min.css";
/* 
--------------------

GLOBAL

--------------------
*/
// allows responsive media queries
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}
// Omega Reset - bourbon/neat grid
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
body {
  font-family: courier, arial, sans-serif;
  font-weight: 300;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
/* 
--------------------

HEADER

--------------------
*/ 
header {
  @include outer-container;
  margin-top: 3%;
  .logo {
    @include span-columns(3);
  }
  nav {
    @include span-columns(8);
    @include shift(1);
    text-align: right;
    li {
      display: inline-block;
      margin: 0 2.5%;
      list-style-type: none;
    }
  }  
  #mini-cart {
    sup {
      font-size: .7em;
    }
  }
}
/* 
--------------------

FOOTER

--------------------
*/
footer {
  margin-top: 5%;
  .footer-wrapper {
    padding: 2% 0;
    background: #F5F5F3;
    .footer-content {
      @include outer-container;
      .footer-links-1,
      .footer-links-2,
      .footer-philosophy,
      .footer-newsletter {
        @include span-columns(12);
        padding: 5%;
        @include respond-to(768) {
          @include span-columns(3);
          padding: 1% 0 0 2%;
          min-height: 250px;
          border-left: 1px solid #E0E0E0;
        }
        ul {
          padding: 0;
          margin-top: 4%;
          li {
            margin-bottom: 3%;
            list-style-type: none;
            a {
              color: #999;
              text-decoration: none;
              font-size: .9em;
            }
          }
        }
        p {
          margin-top: 4%;
          font-size: .9em;
          line-height: 1.5;
          color: #999;
        }
      }
      .footer-newsletter {
        padding-right: 2%;
        text-align: center;
        border-right: 1px solid #E0E0E0;
        span {
          display: block;
          font-size: 2em;
        }
      }
    }
  }
  .copyright {
    @include outer-container;
    p {
      @include span-columns(12);
      margin-bottom: 4%;
      text-align: center;
      font-size: .9em;
    }
  }
}