@import "bourbon/bourbon";
@import "neat/neat";
@import "normalize.min.css";
/* 
--------------------

GLOBAL

--------------------
*/
// allows responsive media queries
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}
// Omega Reset - bourbon/neat grid
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($grid-columns, $gutter); }
  &:nth-child(#{$nth}+1) { clear: none }
}
$green-dark: #425211;
$green-light: #cdd3c5;
body {
  font-family: courier, arial, sans-serif;
  font-weight: 300;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  &:hover,
  &:visited {
    color: #333;
  }
}
h4 {
  margin: 0;
  font-size: 1.5em;
}
h3 {
  margin: 0;
  font-size: 2em;
}
p {
  font-size: .9em;
  color: #999;
}
/* 
--------------------

HEADER

--------------------
*/ 
header {
  @include outer-container;
  margin-top: 3%;
  .logo {
    @include span-columns(3);
    img {
      width: 100%;
    }
  }
  nav {
    @include span-columns(9);
    text-align: right;
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 3%;
        list-style-type: none;
        border: 2px dashed #fff;
        &:hover {
          border-radius: 50%;
          border-color: $green-dark;
        }
        a {
          color: #333;
        }
      }
      .shop-link {
        &:hover {
          margin-bottom: 235px;
        }
        /*&:hover .shop-nav {
          display: block;
        }*/
        .shop-nav {
          display: none;
          padding: 0;
          position: absolute;
          top: 150px;
          left: 0;
          width: 100%;
          text-align: left;
          border-top: 1px dotted #333;
          border-bottom: 1px dotted #333;
          li {
            padding: 2%;
            border: none;
            border-right: 1px dotted #333;
            &:hover {
              border: none;
            }
            &:last-of-type {
              border-right: none;
            }
            a {
              color: #999;
              &:hover {
                border: #fff;
                border-radius: 0;
              }
            }
            h3 {
              margin-bottom: 7%;
            }
          }
        }
      }
    }
  }  
  #mini-cart {
    sup {
      font-size: .7em;
    }
  }
}
/* 
--------------------

HOME

--------------------
*/
.home {
  margin-top: 3%;
  .callout-left {
    position: relative;
    display: inline-block;
    width: 65%;
    padding: 23%;
    background: url("../images/green-background.jpg");
    .about-callout {
      display: inline-block;
      position: absolute;
      right: 20%;
      bottom: 40%;
      width: 150px;
      padding: 4% 0;
      border: 2px solid $green-dark;
      text-align: center;
      &:hover {
        border-color: $green-light;
      }
    }
    .made-in {
      position: absolute;
      left: 10%;
      bottom: 20%;
      width: 120px;
    }
  }
  .callout-right {
    position: relative;
    display: inline-block;
    width: 35%;
    padding: 22% 0;
    background: url("../images/white-background.jpg") no-repeat right center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .product-otw {
      display: inline-block;
      position: absolute;
      right: 25%;
      bottom: 35%;
      width: 250px;
      padding: 4%;
      border: 2px solid $green-dark;
      &:hover {
        border-color: $green-light;
      }
    }
  }
  .who-we-are {
    margin-top: -5px;
    padding: 3.5% 0;
    background: url("../images/green-map.jpg");
    .who-we-are-wrapper {
      @include outer-container;
      .who,
      .what,
      .where {
        @include span-columns(4);
        text-align: center;
        h3 {
          color: #fff;
        }
        p {
          padding: 0 7%;
          color: #fff;
        }
      }
    }
  }
  .pinterest-layout {
    @include outer-container;
    padding-top: 2%;
    img {
      width: 100%;
    }
    h3 {
      text-align: center;
      span {
        display: block;
        margin-bottom: 1%;
        font-style: italic;
        font-size: .4em;
        color: #999;
      }
    }
    p {
      padding: 0 5%;
      margin: 0;
      text-align: center;
    }
    .pinterest-layout-1 {
      @include span-columns(6);
      .pinterest-layout-1-1 {
        @include span-columns(6);
      }
      .pinterest-layout-1-2 {
        @include span-columns(6);
        @include omega();
        margin-bottom: 1.5%;
      }
      .pinterest-layout-1-3 {
        @include span-columns(12);
      }
    }
    .pinterest-layout-2 {
      @include span-columns(6);
      .pinterest-layout-2-1 {
        @include span-columns(12);
        margin-bottom: 1.5%;
      }
      .pinterest-layout-2-2 {
        @include span-columns(6);
      }
      .pinterest-layout-2-3 {
        @include span-columns(6);
        @include omega();
        margin-bottom: 1.5%;
      }
      .pinterest-layout-2-4 {
        @include span-columns(12);
      }
    }
  }
}
/* 
--------------------

FOOTER

--------------------
*/
footer {
  position: relative;
  margin-top: 3%;
  .prefooter-wrapper {
    padding: 4% 0;
    background: url("../images/footer-background.jpg");
    .prefooter-content {
      @include outer-container;
      text-align: center;
      .prefooter-links1 {
        @include shift(1.5);
      }
      .prefooter-links1,
      .prefooter-links2,
      .prefooter-links3 {
        @include span-columns(3);
        margin-top: 4%;
        img {
          width: 80px;
        }
        h3 {
          margin: 3% 0 2%;
        }
        p {
          margin: 0;
        }
      }
      p {
        padding: 0 10%;
        margin-bottom: 0;
      }
      .tbp-logo {
        display: none;
        @include respond-to(768) {
          display: block;
          position: absolute;
          right: 100px;
          top: 60px;
          width: 50px;
        }
      }
    }
  }
  .footer-wrapper {
    padding: 2% 0;
    background: #F5F6F3;
    .footer-content {
      @include outer-container;
      .footer-links-1,
      .footer-links-2,
      .footer-philosophy,
      .footer-newsletter {
        @include span-columns(12);
        padding: 5%;
        @include respond-to(768) {
          @include span-columns(3);
          padding: 1% 0 0 2%;
          min-height: 250px;
          border-left: 1px solid #E0E0E0;
        }
        ul {
          padding: 0;
          margin-top: 4%;
          li {
            margin-bottom: 3%;
            list-style-type: none;
            a {
              color: #999;
              text-decoration: none;
              font-size: .9em;
            }
          }
        }
        p {
          margin-top: 4%;
          line-height: 1.5;
        }
      }
      .footer-newsletter {
        @include omega();
        padding-right: 2%;
        text-align: center;
        border-right: 1px solid #E0E0E0;
        span {
          display: block;
          font-size: 2em;
        }
        input[type="text"] {
          margin-top: 1%;
          border: none;
          border-bottom: 2px solid $green-dark;
          background: none;
          text-align: center;
          &:focus {
            outline: none;
          }
        }
        label {
          display: block;
          margin-top: 15%;
          color: #999;
          font-size: .9em;
        }
        button[type="submit"] {
          display: block;
          margin: 15% auto 0;
          border: 1px solid $green-dark;
          padding: 8px 20px;
          background: none;
          font-size: .9em;
          &:hover {
            background: $green-dark;
            color: #fff;
          }
        }
      }
      .social-icons {
        @include span-columns(12);
        margin-top: 3%;
        text-align: center;
        a {
          display: inline-block;
          width: 30px;
          margin: 0 .5%;
          opacity: .3;
          &:hover {
            opacity: 1;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .copyright {
    @include outer-container;
    p {
      @include span-columns(12);
      margin-bottom: 4%;
      text-align: center;
      strong {
        color: #333;
      }
    }
  }
  .made-in {
    display: none;
    @include respond-to(768) {
      display: block;
      position: absolute;
      bottom: 47px;
      left: 50px;
      width: 120px;
    }
  }
}