---
action: 'shop:receipt'
template: checkout
protocol: all
published: true
name: Receipt
url: '/receipt/:paymenthash'
---

<div class="receipt-wrapper">
  <div class="receipt">
    {% if invoice %}
      <h1>Your Receipt</h1>
      <h3>Please keep this information for your records.</h3>
      <div class="cart-totals">
        <p>Order number: <i>#{{ invoice.order.number }}</i> </p>
        <!--<p>Payment method: <i>{{ payment.guessPaymentMethod().name }}</i></p>-->
        <p>Order Date: <i>{{ invoice.order.created_at.format('M jS, Y') }}</i></p>
        {% if invoice.isPaid() %}
          {{ partial('shop-invoicetotals') }}
        {% endif %}
      </div>
      
      {{ partial('shop-invoiceitems') }}

      {% if invoice.isPaid() %}
        <a href="{{ site_url('/') }}" class="btn2">Continue Shopping</a>
      {% else %}
        <p><a href="{{ site_url('review/'~order.order_hash) }}" class="btn">Pay the order</a></p>
      {% endif %}

    {% else %}
      <p class="flash error">Invoice not found.</p>
    {% endif %}
  </div>
</div>