{{ code_block('setup') }}

<meta charset="UTF-8">
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

<title>{{ page.title }} | {{ theme.companyNameText }}</title>

<link rel="stylesheet" type="text/css" href="/cms/core.css">
<link rel="stylesheet" type="text/css" href="{{ 'css/shopcare.css' |theme_resource }}">

<script type="text/javascript" src="{{ 'javascript/jquery-1.11.3.min.js' |theme_resource }}"></script>
<script type="text/javascript" src="/cms/core.js"></script>
<script type="text/javascript" src="{{ 'javascript/ShopCare.js' |theme_resource }}"></script>

<!-- SLIPPRY SLIDER -->
<script type="text/javascript" src="{{ 'javascript/slippry.min.js' |theme_resource }}"></script>
<link rel="stylesheet" type="text/css" href="{{ 'css/slippry.css' |theme_resource }}">