<header>

  <a href="{{ site_url('/') }}" class="logo"><img src="{{ theme.logoImage.thumbnail('auto', 'auto') }}" alt=""></a>

  <nav>
    <ul class="nav-bar">
      {% set active_page = globals.active_page|default('home') %}
      <li class="{{ active_page == 'shop' ? 'active' : null }}">
        <a href="{{ site_url('shop') }}">Shop</a>
        <!--
        {% if categories.count %}
          <a href="{{ site_url('shop') }}"><span> </span></a>
          <ul>
            {% tree categories %}
                {% for category in tree.items %}
                    <li><a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a></li>
                {% endfor %}
            {% endtree %}
          </ul>
        {% endif %}
        -->
      </li>
      <li class="{{ active_page == 'about' ? 'active' : null }}"><a href="{{ site_url('about') }}">About Us</a></li>
      <li class="{{ active_page == 'blog' ? 'active' : null }}"><a href="{{ site_url('blog') }}">Blog</a></li>
      <li class="{{ active_page == 'blog' ? 'active' : null }}"><a href="{{ site_url('login') }}">Login or Register</a></li>
      {% if customer %}
        <li class="{{ active_page == 'orders' ? 'active' : null }}"><a href="{{ site_url('orders') }}">My Orders</a></li>
        <li class="{{ active_page == 'profile' ? 'active' : null }}"><a href="{{ site_url('profile') }}">My Profile</a></li>
        <li>Welcome, {{ customer.first_name }}!
        <a href="{{ site_url('logout') }}">Logout</a></li>   
      {% endif %}
      <li><div id="mini-cart">{{ partial('shop-minicart') }}</div></li>
    </ul>
  </nav>
  
</header>

<!--

SEARCH FORM

{{ open_form({'class': 'search', 'method': 'get', 'action': site_url('search')}) }}
  <input type="text" name="query" value="{{query|unescape}}" placeholder="Search store&hellip;"/>
{{ close_form() }}
-->