<meta charset="UTF-8">
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

<title>{{ page.title }} | {{ theme.companyNameText }}</title>

<link rel="stylesheet" type="text/css" href="{{ 'css/shopcare.css'|theme_resource }}">

<script type="text/javascript" src="{{ 'javascript/shopcare.js'|theme_resource }}"></script>