<footer>
  <section class="prefooter-wrapper">
    <section class="prefooter-content">
      <img src="{{ 'images/tbp.png'|theme_resource }}" class="tbp-logo">

      <h5>More from</h5>
      <h4>The Burren Perfumery</h4>

      <section class="prefooter-links1">
        <img src="{{ 'images/prefooter-about.png'|theme_resource }}" />
        <h4>About Us</h4>
        <p>This is some dummy text which needs to be replaced</p>
      </section>

      <section class="prefooter-links2">
        <img src="{{ 'images/prefooter-blog.png'|theme_resource }}" />
        <h4>Blog</h4>
        <p>This is some dummy text which needs to be replaced</p>
      </section>

      <section class="prefooter-links2">
        <img src="{{ 'images/prefooter-tea.png'|theme_resource }}" />
        <h4>Tea Room</h4>
        <p>This is some dummy text which needs to be replaced</p>
      </section>
    </section>
  </section>

  <section class="footer-wrapper">
    <section class="footer-content">

      <section class="footer-links-1">
        <strong>The Burren Perfumery</strong>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">The Soap Room</a></li>
          <li><a href="#">The Blending Room</a></li>
          <li><a href="#">The Herb Garden</a></li>
          <li><a href="#">The Tea Room</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </section>

      <section class="footer-links-2">
        <strong>Good to Know</strong>
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Payment &amp; Delivery</a></li>
        </ul>
      </section>

      <section class="footer-philosophy">
        <strong>Our Philosophy</strong>
        <p>We are not a big brand and we don't try to compete with the big brands. We make products that we like ourselves at a scale that suits our situation and sensitive location.</p>
      </section>

      <section class="footer-newsletter">
        Subscribe to our <span>Newsletter</span>
      </section>

      <aside class="social-icons">
        <a href="https://twitter.com/burrenperfumery" target="_blank"><img src="{{ 'images/twitter.png'|theme_resource }}" alt="twitter" /></a>
        <a href="https://vimeo.com/user12180907" target="_blank"><img src="{{ 'images/vimeo.png'|theme_resource }}" alt="Vimeo" /></a>
      </aside>

      <img src="{{ 'images/made-in-ireland.png'|theme_resource }}" alt="Made in Ireland" class="made-in" />

    </section><!-- end footer-content -->
  </section><!-- end footer-wrapper -->

  <aside class="copyright">
    <p><strong>&copy; The Burren Perfumery 2015</strong><br>All rights reserved.</p>
  </aside>

</footer>

<!--<p>Theme by <a href="https://320ny.com?source=shopcare_theme">320NY</a></p>-->