<footer>
  <section class="footer-wrapper">

    <section class="footer-links-1">
      <strong>The Burren Perfumery</strong>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">The Soap Room</a></li>
        <li><a href="#">The Blending Room</a></li>
        <li><a href="#">The Herb Garden</a></li>
        <li><a href="#">The Tea Room</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </section>

    <section class="footer-links-2">
      <strong>Good to Know</strong>
      <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Directions</a></li>
        <li><a href="#">Payment &amp; Delivery</a></li>
      </ul>
    </section>

    <section class="footer-philosophy">
      <strong>Our Philosophy</strong>
      <p>We are not a big brand and we don't try to compete with the big brands. We make products that we like ourselves at a scale that suits our situation and sensitive location.</p>
    </section>

    <section class="footer-newsletter">
      Subscribe to our <span>Newsletter</span>
    </section>

  </section><!-- end footer-wrapper -->
</footer>

<!--<p>Theme by <a href="https://320ny.com?source=shopcare_theme">320NY</a></p>-->