{% if invoice.getDiscountTotal() > 0 %}
  <p>Discount applied: <i>{{ invoice.getDiscountTotal()|currency }}</i></p>
{% endif %}
<p>Subtotal: <i>{{ invoice.subtotal|currency }}</i></p>
<p>Sales Tax: <i>{{ invoice.tax_total|currency }}</i></p>
<p>Shipping: <i>{{ invoice.total_shipping_quote|currency }}</i></p>
{% if invoice.order.total_shipping_tax > 0 %}
  <p>Shipping Taxes: <i>{{ invoice.order.total_shipping_tax|currency }}</i></p>
{% endif %}
<p class="cart-total-line">Total: <i>{{ invoice.total|currency }}</i></p>