<table>
  {% for item in items %}
  <tr>
    <td>
      <a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(80, 80)|default('http://placehold.it/80x80') }}"/></a>
    </td>
    <td class="cart-item-name">
      <a href="/product/{{ item.product.url_name }}">{{ item.product.name }} / <!-- BENNICK output the product weight from the attributes here: http://cl.ly/image/2F3u2d303835 --></a>
      {% set description = item.optionsString() %}
      {% if description %}<p>{{ description|unescape }}</p>{% endif %}
      <span class="quantity-text">QTY</span><button data-cart-quantity="down" class="down">-</button><span class="quantity" data-cart-quantity="number">{{ item.quantity }}</span><button data-cart-quantity="up">+</button><input data-cart-quantity="input" type="hidden" name="item_quantity[{{ item.key }}]" class="quantity" value="{{ item.quantity }}">
    </td>
    <td class="cart-item-filler"></td>
    <td class="cart-item-price"> 
      <a href="#" data-ajax-handler="shop:cart" 
        {# data-ajax-confirm="Do you really want to remove this item from the cart?" #}
        data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart"
        data-ajax-extra-fields="delete_item='{{ item.key }}'">X</a>
      <span>{{ item.total()|currency }}</span>
    </td>
  </tr>
  {% endfor %}
</table>